body {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #131f21;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 40px);
  padding: 20px 0;
  color: whitesmoke;
  /* background-color: #131f21; */
}
h1 {
  margin: 0;
  margin-bottom: 5px;
}
h4 {
  margin: 0;
  height: 45px;
}
p {
  font-weight: bold;
}
b {
  color: red;
}
.main-box {
  margin: 30px;
}
.score {
  font-style: italic;
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}
.score span {
  color: red;
}
.btn {
  height: 180px;
  width: 180px;
  border-radius: 10%;
  margin: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn span {
  font-weight: bold;
  font-size: 1.25rem;
}

#btn-container {
  display: flex;
  justify-content: center;
}

.green {
  background-color: #63aac0;
}
.red {
  background-color: #d95980;
}
.yellow {
  background-color: #f99b45;
}
.purple {
  background-color: #819ff9;
}
.flash {
  background-color: #fff;
  box-shadow: rgb(95 255 32 / 59%) 0px 0px 0px 8px inset,
    rgb(74 255 83 / 46%) -1px 0px 20px 20px inset;
}

.user {
  background-color: #fff;
  box-shadow: rgba(109, 7, 187, 0.59) 0px 0px 0px 8px inset,
    rgba(109, 7, 187, 0.46) -1px 0px 20px 20px inset;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: darken(currentColor, 20%);
}

@media screen and (max-width: 568px) {
  .btn {
    height: 140px;
    width: 140px;
  }
  .main-container {
    padding: 0px;
    height: 100vh;
  }
  .main-box {
    margin: 0;
  }
  .score {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 24px;
  }
  p {
    margin: 0;
    margin-top: 16px;
    font-size: 16px;
    font-weight: bold;
  }
  h4 {
    margin: 20px 10px 0 10px;
    font-size: 16px;
  }
}
